body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.top {
    background-color: #1F2937;
    padding: 20px 300px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 15px;
}

.description {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-desc {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 15px 0;
}

.text-desc > h1 {
    font-size: 48px;
    margin: 0;
    font-weight: bolder;
    color: #F9FAF8;
}

.text-desc > p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-1 {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 12px;
    font-size: 18px;
    padding: 10px 0px;
    width: 125px;
    border: 0;
    cursor: pointer;
}

.sign-1:hover, .sign-1:active {
    background-color: #E5E7EB;
    color: #3882F6;
  }

.main-img {
    width: 600px;
    height: 300px;
    background-color: #E5E7EB;
    border: 2px solid black;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content > h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 30px;
}

.cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.card-img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.card > p {
    width: 150px;
}

.quotes {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    align-items: center;
    padding: 150px 350px;
}

.quotes > .person {
    align-self: flex-end;
}

.sign-up {
    display: flex;
    margin: 100px 300px;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 40px 100px;
    color: #E5E7EB;
    align-items: center;
    justify-content: space-between;
}

.sign-up > h2 {
    color: #F9FAF8;
}

.sign-2 {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 12px;
    font-size: 18px;
    padding: 10px 0px;
    width: 125px;
    cursor: pointer;
}

  .sign-2:hover, .sign-2:active {
    background-color: #E5E7EB;
    color: #3882F6;
  }

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 20px;
}

a:link, a:visited {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 20px;
  }
  
  a:hover, a:active {
    background-color: #E5E7EB;
    color: #1F2937;
  }